body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-contact-section {
  width: 60%;
}

.main-contact-title {
   font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color:  #e3e3e3;
  padding: 10px;
  background-color: #1e2939;
  text-align: center;
  margin-left:150px;
  margin-right: 150px;
}

/* About me section */

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #e3e3e3;
  margin: 0;
  text-align: center;
}

.about-me-section{
  background-color: #1e2939;
}

.abaut-me-name {
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #e3e3e3;
  margin: 0;
}

.abaut-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 25px;
  color:  #797979;
}

/* My projects section */

.my-projects-section {
  margin: 0;
}

.my-projects-list {
  list-style: none;
  display: table;
    margin: 0 auto;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* My work experience */

.my-work-experiense-section {
  margin-bottom: 45px; 
}

.my-work-experiense-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duties {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company-block {
  max-width: 0 15px 0 0;
}

.my-work-experiense-first {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-experience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-experiense-company-first {
  color: #fb6d3a;
}
.my-work-experience-dutie {
  padding: 0 0 0 18px;
}
.my-work-experience-dutie {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-education-p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.my-work-experience-return {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-stick {
  color: #000;
}

/* Sidebar section */
.sidebar-foto{
 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background:  transparent;
}
.sidebar-section {
  background: #e3e3e3;
width: 40%;
}

.contacts-section,
.tech-skills-section {
  margin: 30px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color:  #e3e3e3;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #1e2939;
  text-align: center;
}

/* Contacts section */

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #797979;
  margin-right: 7px;
}

.contacts-section-link {
  color: #797979;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

/* Tech skills section */

.tech-skill-list {
  padding: 0 0 0 17px;
}

.tech-skills-items {
  color: #fb6d3a;
}

.tech-skills-items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #797979;
}

/* Soft skill section */

.soft-skill-section {
  margin: 30px;
}

.soft-skill-list {
  padding: 0 0 0 17px;
}

.soft-skill-item {
  color: #fb6d3a;
}

.soft-skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color:  #797979;
}
