body {
  font-family: 'Montserrat', sans-serif;
  background: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 20px 0;
}

/* Main content section */

.main-contact-section {
  padding: 100px 90px;
}

.main-contact-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

/* About me section */

.abaut-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 20px 0;
}

.abaut-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My projects section */

.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #000;
  margin-right: 10px;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* My work experience */

.my-work-experiense-section {
  margin-bottom: 45px;
}

.my-work-experiense-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duties {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company-block {
  max-width: 0 15px 0 0;
}

.my-work-experiense-first {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-experience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-experiense-company-first {
  color: #fb6d3a;
}
.my-work-experience-dutie {
  padding: 0 0 0 18px;
}
.my-work-experience-dutie {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-education-p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.my-work-experience-return {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-stick {
  color: #000;
}

/* Sidebar section */

.sidebar-section {
  background: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section {
  margin: 30px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 5px;
}

/* Contacts section */

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.contacts-section-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Tech skills section */

.tech-skill-list {
  padding: 0 0 0 17px;
}

.tech-skills-items {
  color: #fb6d3a;
}

.tech-skills-items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

/* Soft skill section */

.soft-skill-section {
  margin: 30px 0 0 40px;
}

.soft-skill-list {
  padding: 0 0 0 17px;
}

.soft-skill-item {
  color: #fb6d3a;
}

.soft-skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
